# emacs-style backup files
*~
# patch detritus
*.orig
*.rej
# non-redistributable files
i2cslave.v
asm65Org16.py
# xilinx FPGA derived files
*.xml
*.wdb
*.bgn
*.bit
*.bld
*.cfi
*.drc
*.map
*.mcs
*.mrp
*.ncd
*.ngc
*.ngd
*.ngm
*.pad
*.par
*.pcf
*.prm
*.ptwx
*.twr
*.twx
*.unroutes
*.xpi
*_annot.nlf
*_annot.sdf
*_annot.v
*_annot_mhf_info.txt
*_bitgen.xwbt
*_ngdbuild.xrpt
*_pad.csv
*_pad.txt
*_xst.xrpt
*.xrpt
make.log
fuse.log
isim.log
x.exe
usage_statistics_webtalk.html
webtalk.log
netlist.lst
glbl.v
