# GOP_XC3S200 .UCF definition template 24pin

#NET clock PERIOD = 20.0ns ;

# 8 user LEDs are multi-purpose with some SRAM address lines
NET "userled<0>"  LOC = "P81" | IOSTANDARD = LVCMOS33 ;
NET "userled<1>"  LOC = "P1"  | IOSTANDARD = LVCMOS33 ;
NET "userled<2>"  LOC = "P96" | IOSTANDARD = LVCMOS33 ;
NET "userled<3>"  LOC = "P97" | IOSTANDARD = LVCMOS33 ;
NET "userled<4>"  LOC = "P53" | IOSTANDARD = LVCMOS33 ;
NET "userled<5>"  LOC = "P50" | IOSTANDARD = LVCMOS33 ;
NET "userled<6>"  LOC = "P75" | IOSTANDARD = LVCMOS33 ;
NET "userled<7>"  LOC = "P74" | IOSTANDARD = LVCMOS33 ;

#NET "sa<0>"   LOC = "P40" | IOSTANDARD = LVCMOS33 ; # also SI for SPI flash
#NET "sa<1>"   LOC = "P63" | IOSTANDARD = LVCMOS33 ;
#NET "sa<2>"   LOC = "P48" | IOSTANDARD = LVCMOS33 ; # also SO for SPI flash
#NET "sa<3>"   LOC = "P65" | IOSTANDARD = LVCMOS33 ;
#NET "sa<4>"   LOC = "P42" | IOSTANDARD = LVCMOS33 ; # also INIT for config PROM
#NET "sa<5>"   LOC = "P68" | IOSTANDARD = LVCMOS33 ;
#NET "sa<6>"   LOC = "P71" | IOSTANDARD = LVCMOS33 ;
#NET "sa<7>"   LOC = "P79" | IOSTANDARD = LVCMOS33 ;
#NET "sa<8>"   LOC = "P72" | IOSTANDARD = LVCMOS33 ;
#NET "sa<9>"   LOC = "P80" | IOSTANDARD = LVCMOS33 ;
#NET "sa<10>"  LOC = "P67" | IOSTANDARD = LVCMOS33 ;
#NET "sa<11>"  LOC = "P81" | IOSTANDARD = LVCMOS33 ; # led3
#NET "sa<12>"  LOC = "P1"  | IOSTANDARD = LVCMOS33 ; # led4
#NET "sa<13>"  LOC = "P96" | IOSTANDARD = LVCMOS33 ; # led5
#NET "sa<14>"  LOC = "P97" | IOSTANDARD = LVCMOS33 ; # led6
#NET "sa<15>"  LOC = "P53" | IOSTANDARD = LVCMOS33 ; # led7
#NET "sa<16>"  LOC = "P50" | IOSTANDARD = LVCMOS33 ; # led8
#NET "sa<17>"  LOC = "P75" | IOSTANDARD = LVCMOS33 ; # led9
#NET "sa<18>"  LOC = "P74" | IOSTANDARD = LVCMOS33 ; # led10

#NET "sd<0>"  LOC = "P2" | IOSTANDARD = LVCMOS33 ;
#NET "sd<1>"  LOC = "P4" | IOSTANDARD = LVCMOS33 ;
#NET "sd<2>"  LOC = "P5" | IOSTANDARD = LVCMOS33 ;
#NET "sd<3>"  LOC = "P8" | IOSTANDARD = LVCMOS33 ;
#NET "sd<4>"  LOC = "P9" | IOSTANDARD = LVCMOS33 ;
#NET "sd<5>"  LOC = "P11" | IOSTANDARD = LVCMOS33 ;
#NET "sd<6>"  LOC = "P12" | IOSTANDARD = LVCMOS33 ;
#NET "sd<7>"  LOC = "P13" | IOSTANDARD = LVCMOS33 ;

NET "phi0"  LOC = "P38" | IOSTANDARD = LVCMOS33 ; # 49.152MHz crystal, GCLK0
#NET "scs"  LOC = "P43" | IOSTANDARD = LVCMOS33 ;
#NET "soe"  LOC = "P44" | IOSTANDARD = LVCMOS33 ;
#NET "swr"  LOC = "P64" | IOSTANDARD = LVCMOS33 ;
#NET "fcs"  LOC = "P49" | IOSTANDARD = LVCMOS33 ;

#NET "pin1"  LOC = "P89" | IOSTANDARD = LVCMOS33 ; # GCLK6
#NET "pin2"  LOC = "P90" | IOSTANDARD = LVCMOS33 ; # GCLK7
#NET "pin3"  LOC = "P92" | IOSTANDARD = LVCMOS33 ;
#NET "pin4"  LOC = "P91" | IOSTANDARD = LVCMOS33 ;
#NET "pin5"  LOC = "P16" | IOSTANDARD = LVCMOS33 ;
#NET "pin6"  LOC = "P14" | IOSTANDARD = LVCMOS33 ;
#NET "pin7"  LOC = "P17" | IOSTANDARD = LVCMOS33 ;
#NET "pin8"  LOC = "P15" | IOSTANDARD = LVCMOS33 ;
#NET "pin9"  LOC = "P21" | IOSTANDARD = LVCMOS33 ;
#NET "pin10"  LOC = "P22" | IOSTANDARD = LVCMOS33 ;
#NET "pin11"  LOC = "P23" | IOSTANDARD = LVCMOS33 ;

NET "SCL"  LOC = "P39" | IOSTANDARD = LVCMOS33 ; # GCLK1  # pin13
NET "SDA"  LOC = "P54" | IOSTANDARD = LVCMOS33 ;          # pin14
#NET "pin15"  LOC = "P55" | IOSTANDARD = LVCMOS33 ;
#NET "pin16"  LOC = "P62" | IOSTANDARD = LVCMOS33 ;
#NET "pin17"  LOC = "P60" | IOSTANDARD = LVCMOS33 ;
#NET "pin18"  LOC = "P61" | IOSTANDARD = LVCMOS33 ;
#NET "pin19"  LOC = "P59" | IOSTANDARD = LVCMOS33 ;
#NET "pin20"  LOC = "P85" | IOSTANDARD = LVCMOS33 ;
#NET "pin21"  LOC = "P87" | IOSTANDARD = LVCMOS33 ; # GCLK4
#NET "pin22"  LOC = "P86" | IOSTANDARD = LVCMOS33 ;
#NET "pin23"  LOC = "P88" | IOSTANDARD = LVCMOS33 ; # GCLK5

NET "res"  LOC = "P27" | PULLUP | IOSTANDARD = LVCMOS33 ;  # switch 1
#NET "sw2"  LOC = "P28" | PULLUP | IOSTANDARD = LVCMOS33 ;  # switch 2 (fpga re-configure, optionally)

# 7-pin test connector for display and other expansion
#    only tp7 and tp8 are 5V tolerant with level shifter
#NET "tp2"  LOC = "P30" | IOSTANDARD = LVCMOS33 ;
#NET "tp3"  LOC = "P32" | IOSTANDARD = LVCMOS33 ;
#NET "tp4"  LOC = "P34" | IOSTANDARD = LVCMOS33 ;
#NET "tp5"  LOC = "P35" | IOSTANDARD = LVCMOS33 ;
#NET "tp6"  LOC = "P36" | IOSTANDARD = LVCMOS33 ;
#NET "tp7"  LOC = "P37" | IOSTANDARD = LVCMOS33 ; # GCLK3
#NET "tp8"  LOC = "P47" | IOSTANDARD = LVCMOS33 ;
